#btnDepartments {
 -fx-text-fill: white;
     -fx-font-family: "Arial Narrow";
     -fx-font-weight: bold;
     -fx-background-color: linear-gradient(#61a2b1, #2A5058);
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
     -fx-background-radius: 10px;
 }
#btnEmployees {
 -fx-text-fill: white;
     -fx-font-family: "Arial Narrow";
     -fx-font-weight: bold;
     -fx-background-color: linear-gradient(#61a2b1, #2A5058);
     -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
     -fx-background-radius: 10px;
 }
 #btnReports {
  -fx-text-fill: white;
      -fx-font-family: "Arial Narrow";
      -fx-font-weight: bold;
      -fx-background-color: linear-gradient(#61a2b1, #2A5058);
      -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
      -fx-background-radius: 10px;
  }
  #btnSelfProfile {
   -fx-text-fill: white;
       -fx-font-family: "Arial Narrow";
       -fx-font-weight: bold;
       -fx-background-color: linear-gradient(#61a2b1, #2A5058);
       -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
       -fx-background-radius: 10px;
   }
    #btnLogOut {
      -fx-text-fill: white;
          -fx-font-family: "Arial Narrow";
          -fx-font-weight: bold;
          -fx-background-color: linear-gradient(#61a2b1, #2A5058);
          -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
          -fx-background-radius: 10px;
      }
#Grid {
-fx-background-color: beige;
}
#label1 {
   -fx-fill: FIREBRICK;
   -fx-font-weight: bold;
   -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
 }